<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <%= image_tag "slick_gifts_logo_1.png",  
        alt: 'Slick.gifts Logo', 
        id: 'home-page-logo', 
        class: 'img-responsive' %>
    <p class="tagline">Surprise!<br>It's what you wanted.</p>
    <div class="panel-group panel-front">
      <div class="panel panel-default panel-facebook">
        <%= link_to user_facebook_omniauth_authorize_path, 
            class: "facebook-login-button" do %>
        <div class="panel-body">
          <%= icon("facebook", "Continue with Facebook") %><br>
          <small>instant login, connects friends, awesome gifts</small>
        </div>
        <% end %>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <span class="absolute">1.</span>
          <div class="offset-small">Make a list of the things you want, 
          your interests, and style.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <span class="absolute">2.</span> 
          <div class="offset-small">View your friends lists and what others 
          have already bought them.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <span class="absolute">3.</span>
          <div class="offset-small">Never get a bad gift again.
          <br>#NoBadGifts</div>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="text-center small">
  <%= link_to "Contact us, or Provide Feedback", 
          "https://www.facebook.com/slickgiftsapp", 
          class: "settings-icon",
          target: "_blank" %>
</p>
<div class="text-center">
  <% if Rails.env.development? %>
    <%= link_to icon("facebook", "Continue as Developer"), 
        omniauth_authorize_path(User, "developer"), 
        class: "btn btn-default btn-facebook btn-lg" %>
  <% end %>
</div>