<div class="panel panel-default">
  <p>Users: <%= @user_count %></p>
</div>
<div class="panel panel-default">
  <p>Total things in users lists: <%= @want_count %></p>
  <p>Interests: <%= @interest_count %></p>
  <p>Items: <%= @item_count %></p>
  <p>Styles: <%= @style_count %></p>
</div>
<div class="panel panel-default">
  <p>Gifts given: <%= @gifted_count %></p>
  <p>Gifts yet to be given: <%= @purchased_count %></p>
</div>