<div class="panel-body">
  <%= image_tag(user.image, class: "img-large") %>
  <% if user == current_user %>
    <span class="pull-right">
      <%= link_to icon("cog"), settings_path, class: "settings-icon" %>
    </span>
  <% end %>
  <div class="user-info">
    <p class="name"><%= user.name %></p>
    <p><%= user_wants_sentence(user) %></p>
    <p id="user-gifted-icons" class="no-margin">
      <%= link_to gifted_user_path(user) do %>
        <%= user_gifted_icons(user) %>
      <% end %>
    </p>
    <p id="user-received-icons" class="no-margin">
      <%= link_to received_user_path(user) do %>
        <%= user_received_icons(user) %>
      <% end %>
    </p>
  </div>
</div>