<div class="panel-body">
  <%= image_tag(user.image, class: "img-large") %>
  <% if user == current_user %>
    <span class="pull-right">
      <%= link_to icon("cog"), settings_path, class: "settings-icon" %>
    </span>
  <% end %>
  <div class="user-info">
    <p class="name"><%= user.name %></p>
    <p><%= user_wants_sentence(user) %></p>
    <p><%= user_received_icons(user) %></p>
    <p><%= user_gifted_icons(user) %></p>
  </div>
</div>