<% if @facebook_error.present? %>
  <div class="alert alert-warning">
    There appears to be an issue with your facebook permissions! You will have 
    to log out and log in to reinstate permissions. If that doesn't work, we 
    suggest removing the Slick.gifts app permissions in your Facebook settings 
    and trying again. Sorry for the hassle!
  </div>
  <p class="text-center">
    <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
  </p>
<% end %>
<%= button_tag icon("facebook","Invite your friends"), 
    id: "fb-share-button", class: "btn btn-link btn-block blue" %>
<div id="actions-panel" class="panel panel-default panel-collapse">
  <div class="panel-heading selectable" data-toggle="collapse" data-target="#actions-collapse">
    <div class="gift-img">
      <%= icon "gift" %>
    </div>
    <div class="actions-info">
      <p id="actions-sentence"><%= user_actions_sentence(current_user) %></p>
      <small>select to view your actionable gifts</small>
    </div>
  </div>
  <div id="actions-collapse" class="collapse panel-body">
    <div id="actions-container">
      <%= render @actionable_gifts, full_display: true %>
      <%= render @actionable_purchases, full_display: true %>
    </div>
  </div>
</div>
<div id="friends-container" class="panel-group">
  <% if @friends.present? %>
    <%= render @friends  %>
  <% else %>
    <div class="alert alert-notice">
       Awesome stuff, you must be the first of your friends to be using 
       Slick.gifts! I recommend visiting your 
       <%= link_to 'profile', current_user %> to make a list, then telling your 
       friends. #NoBadGifts
    </div>
  <% end %>
</div>
<%= will_paginate @friends %>