<% @current_user_profile = @view_access == "edit" %>
<%= link_to 'Home', root_path, 
      class: "btn btn-default btn-lg" %>
<% if @view_access == "edit" %>
  <%= link_to 'User Settings', settings_path,
        class: "btn btn-default btn-lg" %>
<% end %>
<p>View access: <%= @view_access %></p>
<%= image_tag(@user.image, class: "img-responsive") %>
<h1><%= @user.name %> <small><%= @user.email %></small></h1>
<% if @current_user_profile %>
<p>
  <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#new-item-modal">New Item</button>
</p>
<% end %>
<div id="item-container" class="panel-group">
  <%= render partial: "items/item", collection: @items,
        as: :item, locals: {editable: @current_user_profile} %>
</div>
<% if @current_user_profile %>
<%= render 'items/new' %>
<div  class="modal fade" 
      id="edit-modal" 
      tabindex="-1" 
      role="dialog" 
      aria-hidden="true">
</div>
<% end %>
<% if @view_access == "view" %>
<div  class="modal fade" 
      id="purchase-modal" 
      tabindex="-1" 
      role="dialog" 
      aria-hidden="true">
</div>
<% end %>