<%= link_to 'Home', root_path, 
      class: "btn btn-default btn-lg" %>
<% if @view_access == "edit" %>
  <%= link_to 'User Settings', settings_path,
        class: "btn btn-default btn-lg" %>
<% end %>
<p>View access: <%= @view_access %></p>
<p>Profile (Add Interests, Items, Wearables)</p>
<%= image_tag(@user.image, class: "img-responsive") %>
<h1><%= @user.name %> <small><%= @user.email %></small></h1>
