<% current_user_profile = @view_access == "edit" %>
<%= render @user, full_display: true %>
<% if current_user_profile %>
<div class="row margin-bottom new-wants">
  <div class="col-xs-4 no-padding">
    <button type="button" class="btn btn-link btn-lg btn-block" 
            data-toggle="modal" data-target="#new-item-modal">
      <%= icon("barcode") %>Item
    </button>
  </div>
  <div class="col-xs-4 no-padding">
    <button type="button" class="btn btn-link btn-lg btn-block" 
            data-toggle="modal" data-target="#new-interest-modal"> 
      <%= icon("gamepad") %>Interest
    </button>
  </div>
  <div class="col-xs-4 no-padding">
    <button type="button" class="btn btn-link btn-lg btn-block" 
            data-toggle="modal" data-target="#new-style-modal">
      <%= icon("tags") %>Style
    </button>
  </div>
</div>
<% end %>
<% unless @view_access == "restricted" %>
<div id="want-container" class="panel-group">
  <% @wants.each do |want| %>
    <%= render want.wanted, editable: current_user_profile %>
  <% end %>
</div>
<% end %>
<% if current_user_profile %>
<%= render 'items/new' %>
<%= render 'interests/new' %>
<%= render 'styles/new' %>
<div  class="modal fade" 
      id="edit-modal" 
      tabindex="-1" 
      role="dialog" 
      aria-hidden="true">
</div>
<% end %>
<% if @view_access == "view" %>
<div  class="modal fade" 
      id="purchase-modal" 
      tabindex="-1" 
      role="dialog" 
      aria-hidden="true">
</div>
<div  class="modal fade" 
      id="purchases-modal" 
      tabindex="-1" 
      role="dialog" 
      aria-hidden="true">
</div>
<% end %>
<div  class="modal fade" 
      id="show-modal" 
      tabindex="-1" 
      role="dialog" 
      aria-hidden="true">
</div>