<%= link_to 'Home', root_path, 
      class: "btn btn-default btn-lg" %>
<%= link_to 'User Settings', settings_path,
      class: "btn btn-default btn-lg" %>
<p>Profile (Add Interests, Items, Wearables)</p>
<h1><%= @user.name %> <small><%= @user.email %></small></h1>
<%= image_tag(@user.image, class: "img-responsive") %>