<% name = current_user == purchase.user ? 'You' : purchase.user.name %>
<% if full_display %>
  <%= render purchase.want.wanted %>
  <%= render 'purchases/purchase_details', purchase: purchase, name: name, 
    recipient: purchase.want.user %>
<% else %>
  <%= render 'purchases/purchase_details', purchase: purchase, name: name, 
    recipient: purchase.want.user %>
  <p><%= purchase.want.user.name %> received this as of 
  <%= local_relative_time(purchase.updated_at, type: 'weekday-or-date') %></p>
<% end %>