<% name = current_user == purchase.user ? 'You' : 'Someone' %>
<% if full_display %>
  <%= render purchase.want.wanted, plain: true %>
  <% if purchase.want.archived? %>
    <p>ALERT! <%= purchase.want.user.name %> removed this from their list 
    <%= local_relative_time(purchase.want.updated_at, type: 'weekday-or-date') %>.
    You can still gift it to them or cancel the gift.</p>
  <% end %>
  <p>
    You got this 
    <%= local_relative_time(purchase.created_at, type: 'weekday-or-date') %>
    for 
    <%= link_to purchase.want.user.name, purchase.want.user %>
  </p>
  <% if purchase.comment.present? %>
  <blockquote>
    <p>
      <%= purchase.comment %>
    </p>
  </blockquote>
  <% end %>
  <p>You marked this as gifted. However, <%= purchase.want.user.name %> did not receive the gift!</p>
  <%= link_to "I have gifted this to #{purchase.want.user.name}", 
        gift_want_purchase_path(purchase.want, purchase),
        class: "btn btn-default",
        method: :post, remote: true, 
          data: {
          title: "Gifted", 
          message: "Only select this when you have given the gift to 
                  #{purchase.want.user.name}. They will confirm it has
                  been received.",
          confirm: "I have given this" } %>
  <%= link_to "Cancel this purchase", 
        want_purchase_path(purchase.want, purchase),
        class: "btn btn-default",
        method: :delete, remote: true, 
          data: {
          title: "Cancel", 
          message: "This will remove the purchase completely.",
          confirm: "I want to cancel this" } %>
<% else %>
  <%= render 'purchases/purchase_details', purchase: purchase, 
      name: name, recipient: purchase.want.user %>
  <p class="purchase-alert"><%= icon("exclamation-circle") %>
  Don't tell <%= purchase.want.user.name %>, they haven't received it yet!</p>
<% end %>