<% name = current_user == purchase.user ? 'You' : 'Someone' %>
<% if full_display %>
  <%= render purchase.want.wanted, plain: true %>
  <p><%= name %> purchased this on <%= local_time(purchase.created_at) %> for 
  <%= link_to purchase.want.user.name, purchase.want.user %> and marked it as 
  gifted. They did not receive the gift!</p>
  <% if purchase.comment.present? %>
    <p><strong>"<%= purchase.comment %>"</strong></p>
  <% end %>
  <p></p>
  <%= link_to "I have gifted this to #{purchase.want.user.name}", 
        gift_want_purchase_path(purchase.want, purchase),
        class: "btn btn-default",
        method: :post, remote: true, 
          data: {
          title: "Gifted", 
          message: "Only select this when you have given the gift to 
                  #{purchase.want.user.name}. They will confirm it has
                  been received.",
          confirm: "I have given this" } %>
<% else %>
  <p><%= name %> purchased this on <%= local_time(purchase.created_at) %>.</p>
  <% if purchase.comment.present? %>
    <p><strong>"<%= purchase.comment %>"</strong></p>
  <% end %>
  <p>It hasn't been gifted yet, so don't tell <%= purchase.want.user.name %>!</p>
<% end %>