<% name = current_user == purchase.user ? 'You' : 'Someone' %>
<% if full_display %>
  <% if purchase.want.present? %>
    <%= render purchase.want.wanted, plain: true %>
    <p><%= name %> purchased this on <%= local_time(purchase.created_at) %> for 
    <%= link_to purchase.want.user.name, purchase.want.user %>.</p>
    <% if purchase.comment.present? %>
      <p><strong>"<%= purchase.comment %>"</strong></p>
    <% end %>
  <% else %>
    Uh oh, it looks like the person you purchased something for on
    <%= local_time(purchase.created_at) %> 
    has removed the item from their list!
    <% if purchase.comment.present? %>
      <p>Your comments were: <strong>"<%= purchase.comment %>"</strong></p>
    <% else %>
      <p>You did not make any comments about the purchase.</p>
    <% end %>
  <% end %>
<% else %>
  <p><%= name %> purchased this on <%= local_time(purchase.created_at) %>.</p>
  <% if purchase.comment.present? %>
    <p><strong>"<%= purchase.comment %>"</strong></p>
  <% end %>
  <p>It hasn't been gifted yet, so don't tell <%= purchase.want.user.name %>!</p>
<% end %>