<% actionable ||= purchase.user == current_user %>
<div class="panel panel-default">
  <div class="panel-body">
    <% if actionable %>
      You purchased this (Status: <%= purchase.status %>)<br>
      <%= local_time(purchase.updated_at) %><br>
      <p><%= purchase.comment %></p>
      <% if purchase.want.present? %>
        <%= render purchase.want.wanted %>
      <% else %>
      Uh oh, it looks like the person you bought this for removed the item!
      <% end %>
    <% else %>
      Someone purchased this (Status: <%= purchase.status %>)<br>
      <%= local_time(purchase.updated_at) %><br>
      <p><%= purchase.comment %></p>
    <% end %>
  </div>
</div>