<% submit_button ||= icon('plus', 'Add to my list') %>
<% submitting ||= "Adding" %>
<%= form_for interest, remote: true do |f| %>
  <div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'Technology, Painting, Soccer ...', 
        class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.label :comment %>
  <%= f.text_area :comment, placeholder: 'Any new gadgets, Always after brushes, Need new outdoor gear ...',
         class: 'form-control' %>
  </div>
  <%= button_tag(type: 'submit', 
        class: 'btn btn-link btn-block blue', 
        data: {disable_with: submitting}) do
    submit_button
  end %>
<% end %>