<% linked ||= true %>
<div id="interest-<%= interest.id %>" class="panel panel-default">
  <%= link_to_if(linked, interest_path(interest), remote: true) do %>
  <div class="panel-body">
    <span class="absolute"><%= icon "gamepad" %></span>
    <div class="offset-small">
      <%= interest.name %><br>
      <span class="small">
        added <%= local_relative_time(interest.created_at, type: 'weekday-or-date') %>
      </span>
    </div>
  </div>
  <% end %>
</div>