<% editable ||= false %>
<% plain ||= false %>
<div id="interest-<%= interest.id %>" class="panel panel-default">
  <div class="panel-body">
    <span class="panel-absolute"><%= icon "gamepad" %></span>
    <div class="offset-small">
      <span class="pull-right">
        <% if editable %>
        <%= link_to 'edit', edit_interest_path(interest),
                    remote: true %>
        | <%= link_to "remove", 
                interest_path(interest),
                method: :delete, remote: true, 
                  data: {
                  title: "Remove", 
                  message: "This will remove the interest completely. This 
                  action cannot be undone.",
                  confirm: "I want to remove this interest" } %>
        <% else %>
          <%= link_to "purchase", new_want_purchase_path(interest.want),
                    remote: true %>
          | <%= link_to "view purchases", want_purchases_path(interest.want),
                    remote: true %>
        <% end unless plain %>
      </span>
      <%= interest.name %><br>
      (created <%= local_time(interest.created_at) %>)
    </div>
  </div>
</div>