<div class="modal fade" id="new-interest-modal" tabindex="-1" role="dialog" 
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span class="absolute">
            <%= icon("gamepad") %>
          </span>
          <span class="offset-small">
            Interest
          </span>
        </h4>
      </div>
      <div class="modal-body">
        <%= form_for @interest, remote: true do |f| %>
          <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: 'Technology, Painting, Soccer ...', 
                class: 'form-control' %>
          </div>
          <div class="form-group">
          <%= f.label :comment %>
          <%= f.text_area :comment, placeholder: 'Any new gadgets, Need new outdoor gear ...',
                 class: 'form-control' %>
          </div>
          <%= button_tag(type: 'submit', 
                class: 'btn btn-link btn-block blue', 
                data: {disable_with: 'Adding'}) do
            icon('plus', 'Add to my list')
          end %>
        <% end %>
      </div>
    </div>
  </div>
</div>