<% submit_button ||= icon('plus', 'Add to my list') %>
<% submitting ||= "Adding" %>
<%= form_for style, remote: true do |f| %>
  <div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'T-Shirts, Dresses, Shoes ...', 
        class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :size %>
  <%= f.text_field :size, placeholder: 'Small, Medium, Large ...', 
        class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.label :comment %>
  <%= f.text_area :comment, placeholder: 'No v-necks, Prefer blue, Love colorful shoes ...',
         class: 'form-control' %>
  </div>
    <%= button_tag(type: 'submit', 
        class: 'btn btn-link btn-block blue', 
        data: {disable_with: submitting}) do
    submit_button
  end %>
<% end %>