<div class="modal fade" id="new-style-modal" tabindex="-1" role="dialog" 
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span class="absolute">
            <%= icon("tags") %>
          </span>
          <span class="offset-small">
            Style
          </span>  
        </h4>
      </div>
      <div class="modal-body">
        <%= form_for @style, remote: true do |f| %>
          <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: 'T-Shirts, Dresses, Shoes ...', 
                class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :size %>
          <%= f.text_field :size, placeholder: 'Small, Medium, Large ...', 
                class: 'form-control' %>
          </div>
          <div class="form-group">
          <%= f.label :comment %>
          <%= f.text_area :comment, placeholder: 'No v-necks, Love colorful shoes, Prefer blue',
                 class: 'form-control' %>
          </div>
          <%= f.submit 'Add to my list', 
              class: 'btn btn-link', 
              data: {disable_with: 'Adding'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>