<% editable ||= false %>
<% plain ||= false %>
<div id="style-<%= style.id %>" class="panel panel-default">
  <%= link_to style_path(style), remote: true do %>
  <div class="panel-body">
    <span class="absolute"><%= icon "tags" %></span>
    <div class="offset-small">
      <%= style.name %><br>
      <span class="small">
        added <%= local_relative_time(style.created_at, type: 'weekday-or-date') %>
      </span>
    </div>
  </div>
  <% end %>
</div>