<% editable ||= false %>
<% plain ||= false %>
<div id="style-<%= style.id %>" class="panel panel-default">
  <div class="panel-body">
    <span class="pull-right">
      <% if editable %>
      <%= link_to 'edit', edit_style_path(style),
                  remote: true %>
      | <%= link_to "remove", 
              style_path(style),
              method: :delete, remote: true, 
                data: {
                title: "Remove", 
                message: "This will remove the style completely. If you have 
                received any gifts for this style it will be archived.",
                confirm: "I want to remove this style" } %>
      <% else %>
        <%= link_to "purchase", new_want_purchase_path(style.want),
                  remote: true %>
        | <%= link_to "view purchases", want_purchases_path(style.want),
                  remote: true %>
      <% end unless plain %>
    </span>
    STYLE - <%= style.name %>
    (created <%= local_time(style.created_at) %>)
  </div>
</div>