<h2><%= item.name %></h2>
<blockquote>
  <p>
    <%= item.comment %>
  </p>
</blockquote>
<ul>
  <% if item.link %>
  <li><%= icon("globe", "Link") %>
  <%= link_to , "Here's the item online"), item.link %></li>
  <% end %>
  <% if item.code %>
  <li><%= icon("code", "Code") %>
  <%= item.location %></li>
  <li><%= icon("map-marker", "Location") %>
  <%= item.location %></li>
  <% end %>
</ul>