<% editable ||= false %>
<% plain ||= false %>
<div id="item-<%= item.id %>" class="panel panel-default">
  <%= link_to item_path(item), remote: true do %>
  <div class="panel-body">
    <span class="panel-absolute"><%= icon "barcode" %></span>
    <div class="offset-small">
      <%= item.name %><br>
      <span class="small">
        added <%= local_relative_time(item.created_at, type: 'weekday-or-date') %>
      </span>
    </div>
  </div>
  <% end %>
</div>