<% editable ||= false %>
<div id="item-<%= item.id %>" class="panel panel-default">
  <div class="panel-body">
    <span class="pull-right">
      <% if editable %>
      <%= link_to 'edit', edit_item_path(item),
                  remote: true %>
      | <%= link_to 'delete', item_path(item), 
                  method: :delete,
                  remote: true %>
      <% else %>
        <%= link_to "purchase", new_want_purchase_path(item.want),
                  remote: true %>
        | <%= link_to "view purchases", want_purchases_path(item.want),
                  remote: true %>
      <% end %>
    </span>
    ITEM - <%= item.name %>
    (updated <%= local_time(item.updated_at) %>)
  </div>
</div>