<%= form_for item, remote: true do |f| %>
  <div class="form-group">
  <%= f.text_field :name, placeholder: 'Name', 
        class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.text_area :comment, placeholder: 'Comment',
         class: 'form-control' %>
  </div>
  <span class="pull-right">
    <%= f.submit 'Update', 
      class: 'btn btn-success', 
      data: {disable_with: 'Updating'} %>
  </span>
<% end %>
<%= button_tag icon("trash"), id: "delete-item" %>
<div id="delete-confirm" class="start-hidden">
  Permanently remove. Are you sure? 
  <%= link_to 'Yes', 
      item_path(item),
      method: :delete, remote: true %>
</div>