<%= form_for item, remote: true do |f| %>
  <div class="form-group">
  <%= f.text_field :name, placeholder: 'Name', 
        class: 'form-control' %>
  </div>
  <div class="form-group">
  <%= f.text_area :comment, placeholder: 'Comment',
         class: 'form-control' %>
  </div>
  <span class="pull-right">
    <%= f.submit 'Update', 
      class: 'btn btn-success', 
      data: {disable_with: 'Updating'} %>
  </span>
<% end %>
<%= link_to icon("trash"), 
      item_path(item),
      method: :delete, remote: true, 
      class: "btn btn-link",
        data: {
        title: "Remove", 
        message: "This will remove the item completely. This action 
        cannot be undone.",
        confirm: "I want to remove this item" } %>